/.DS_Store
/.venv
/.vscode
/__pycache__
/advanced_bot2.zip
/binanenv
/bitcin
/botcoin
/makineogrenmesi
/makineogrenmesi.zip
/v9
/advanced_bot2/data_storage
.env
/advanced_bot2/bot.log
/advanced_bot2/bot.log.1
/advanced_bot2/bot.log.2
