/.DS_Store
/.venv
/.vscode
/__pycache__
/advanced_bot2.zip
/binanenv
/bitcin
/botcoin
/makineogrenmesi
/makineogrenmesi.zip
/v9
/advanced_bot2/data_storage/
.env
/advanced_bot2/bot.log
/advanced_bot2/bot.log.1
/advanced_bot2/bot.log.2
advanced_bot2/data_storage/SOLUSDT_1d.csv
advanced_bot2/data_storage/SOLUSDT_1m.csv
advanced_bot2/data_storage/SOLUSDT_5m.csv
advanced_bot2/data_storage/SOLUSDT_15m.csv
advanced_bot2/data_storage/SOLUSDT_30m.csv
advanced_bot2/data_storage/SOLUSDT_4h.csv
advanced_bot2/data_storage/SOLUSDT_1h.csv
advanced_bot2/data_storage/SOLUSDT_1d.csv
advanced_bot2/data_storage/SOLUSDT_1h.csv
advanced_bot2/data_storage/SOLUSDT_1m.csv
advanced_bot2/data_storage/SOLUSDT_4h.csv
advanced_bot2/data_storage/SOLUSDT_5m.csv
advanced_bot2/data_storage/SOLUSDT_15m.csv
advanced_bot2/data_storage/SOLUSDT_30m.csv
advanced_bot2/bot.log
.gitignore
advanced_bot2/config/__pycache__/bot_config.cpython-310.pyc
